/*.menu{display: flex;
      flex-direction: row;
      background-color:   #145a32 ;
      justify-content: space-around;
      height: 10em;
     
    }

a{color: black;
	display: flex;
  vertical-align: middle;
  text-align: center;
}

body{background-color:  #d0ece7
}*/

/*Comment centrer le texte du menu , la c pas centré)*/
/*Page Javascript*/
body{font-family: "IntuitiveRegular", "Tahoma";}


#nav {
	display:inline-flex; /* Aligne la liste horizontalement */
    width:100%;
    border-radius: 5px;
    list-style-type:none; /* Retire les puces devant les éléments de liste*/ 
	background-color: grey;
	justify-content: space-around;
	padding: 2em;
	text-align: center; /* centrer le texte */
	
}	

#nav li {
	list-style: none;/* nécessaire pour IE7 */
}

#nav a {
	text-decoration: none;
  	color: black;
  	line-height: 2em;
  	padding-bottom: 2em;

}

a:link {color: black;
		text-decoration: none;
	}
h2{text-align:center;
}
h3{text-align: center;
}

.container{display:flex;
          justify-content:center;
           width:60%;
           margin-left: 20%;
           margin-right: 10%;
        }

.theory{display:flex;
          justify-content:center;
           width:60%;
           margin-left: 20%;
           margin-right: 10%;
         }

img{display: block;
    margin-left: auto;
    margin-right: auto
}
.trio{display:flex;
flex-direction: row;
justify-content: space-between;
margin-left: 20%;
margin-right:20%;
}
.boite1{display: flex;
height: auto;
border-style: solid;
background-color:#DCDCDC;
color: black;
padding: 2em;
width: 30%; }

.boite2{display: flex;
height: auto;
border-style: solid;
background-color:#DCDCDC;
color: black;
padding: 2em;
width: 30%; }

.boite3{display: flex;
height: auto;
border-style: solid;
background-color:#DCDCDC;
color: black;
padding: 2em;
width: 30%;
  
}

.lesboites{display: flex;
	flex-direction: row;
          justify-content: space-between;
          margin-left: 20%;
          margin-right:20%;
        }
.right{display: flex;
        justify-content: flex-end;
        height: auto;
        border-style:solid;
        background-color: #1b2631;
        color:white;
        padding: 2em;
        width:40%;
      }

.left{display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      height: auto;
      border-style:solid;
      padding: 2em;
        background-color: #1b2631;
        color:white;
        width: 30%;
    }

.recmil{display: flex;
text-align: center;width: 60%;
background-color:#1b2631;
color: white;
width:25%;
padding: 2em;
height: auto;
margin-left: 35%;
margin-right: %;
      }

.ex{display: flex;
text-align: center;width: 60%;
background-color:#DCDCDC;
color: black;
width:25%;
padding: 2em;
height: auto;
margin-left: 35%;
margin-right: %;
      }     

/* Tableau  css*/
caption{text-align: center;
margin-left: 25%;}
td /* Toutes les cellules des tableaux... */
{
    border: 3px solid black; /* auront une bordure de 1px */
}
table {  	
	margin-left: 10%;
	display: flex;
	flex-wrap: wrap;
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
.footer{display:inline-flex; /* Aligne la liste horizontalement */
    width:100%;
    border-radius: 5px;
    list-style-type:none; /* Retire les puces devant les éléments de liste*/ 
  background-color: grey;
  justify-content: space-around;
  padding: 2em;
  text-align: center; /* centrer le texte */
  }
